@import "./font.scss";
$color-pink: rgb(255, 52, 186);
$color-body: #191919;

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}

body {
  font-family: Comfortaa, serif;
  background-color: $color-body;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

// SNOW

.snowContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-pointer-events: none;
  pointer-events: none;
}

#snow {
  width: 100%;
  height: 100%;
  background-image: url("https://yraaa.ru/_pu/27/15825154.png"),
    url("https://yraaa.ru/_pu/27/89961317.png"),
    url("https://yraaa.ru/_pu/27/21791255.png");
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

// LOADING

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin: -50px 0 0 -50px;
}

// SITE

.start {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.start__bg {
  background-image: url(../img/bg/bg-main.jpg);
  background-position: center;
  background-size: cover;
}

.start__top {
  box-sizing: border-box;
  height: 10%;
  padding: 10px;
  background-color: rgba(42, 35, 39, 0.95);

  .container {
    height: 100%;
  }
}

.top__layout {
  height: 100%;
  display: flex;
  align-items: center;
}

.style-letter {
  font-feature-settings: "ss01" 1;
}

.start__center {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.info {
  text-align: center;

  &__heading {
    margin: 0;

    font-weight: 900;
    font-size: 6em;
    font-family: "Raleway", sans-serif;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 73, 187, 1) 0%,
      rgba(252, 64, 136, 1) 15%,
      rgba(246, 41, 12, 1) 51%,
      rgba(240, 47, 23, 1) 71%,
      rgba(231, 56, 39, 1) 100%
    );
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }

  &__town {
    margin-top: -0.6em;
    font-size: 4em;
    line-height: 1;
    font-family: "Reey";
    color: rgb(255, 200, 11);
  }

  &__date {
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.timer-numbers {
  display: flex;
  font-size: 1.4rem;

  .time {
    font-size: 0.5em;
  }

  .timer-wrapper {
    min-width: 50px;
  }

  span {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.social__list {
  display: flex;
  padding: 0;
  list-style-type: none;

  .social__item {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .social__link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #e8e8e8;
    border-radius: 50px;

    i {
      font-size: 24px;
      color: $color-body;
    }
  }
}

.section__header {
  .title {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
  }

  .subtitle {
    text-align: center;
  }
}

.about {
  padding-top: 1em;
  padding-right: 5%;
  padding-left: 5%;

  .title {
    margin-bottom: 0.5em;
  }
}

.about__bg {
  background: url("../img/bg/bg-section.jpg") center / cover no-repeat;
}

.list__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  .item {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item_text {
    margin-top: 40px;
    text-align: center;
  }

  .item_img {
    max-width: 15em;
  }
}

.events__bg {
  background: url("../img/bg/bg.jpg") center / cover no-repeat;
}

.events {
  padding-top: 1em;
  height: 100%;
  .section__header {
    margin-bottom: 1em;
  }
}

.deviver {
  // width: 2em;
  width: 50px;
  margin: 10px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 25px 13px yellow;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  .pepeClown {
    width: 10%;
    transition: margin-left 2s;
  }
}

.timeline__events {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 3em;
    // height: 3em;
    font-weight: bolder;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 50px;
  }
}

.number::after {
}

.number:hover,
.number:focus {
  border-color: currentColor;
  box-shadow: 0 0 45px currentColor;
}

.number:nth-child(1):hover,
.number:nth-child(1):focus {
  color: red;
}

.number:nth-child(3):hover,
.number:nth-child(3):focus {
  color: green;
}

.number:nth-child(5):hover,
.number:nth-child(5):focus {
  color: blue;
}

.number:nth-child(7):hover,
.number:nth-child(7):focus {
  color: purple;
}

.number:nth-child(9):hover,
.number:nth-child(9):focus {
  color: yellow;
}

.timeline__card {
  display: flex;
  justify-content: center;
  font-size: 150%;
}

.card {
  line-height: 1.5;
  text-align: center;
  color: white;

  .list-thing {
    margin: 0;
    padding: 0;
  }
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.video-bg {
  background: url(../img/twitch.jpg) center / cover no-repeat #191919;
  background-position: 0 70%;
}

.video_layout {
  display: flex;
  justify-content: center;
  align-content: center;
}

.gallery__bg {
  background: url("../img/bg/bg-gallery.jpg") center / cover no-repeat;
}

.gallery {
  height: 100%;
  .container {
    height: 100%;
  }
}

.slider {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider__border {
    position: relative;
    width: 30em;
    margin-right: 10%;
    margin-left: 10%;
  }

  .slider__photos {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 89%;
    .section__header {
      margin-top: 30%;
    }
  }
}

.mySlides {
  display: none;
}

.arrow-right,
.arrow-left {
  cursor: pointer;
  width: 10%;

  img {
    display: block;
  }
}

.footer__bg {
  background: url("../img/bg/bg-footer.jpg") center / cover no-repeat;
}

.video,
.video_layout {
  height: 100%;
}

.video_layout {
  display: flex;
  align-items: center;

  iframe {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 640px) {
  :root {
    font-size: calc(0.4em + 1vw);
  }

  .start__top,
  #pp-nav {
    display: none;
  }

  .header-layout {
    .version-site {
      display: none;
    }
  }

  .start__center {
    padding-top: 50px;
  }

  .info__date {
    font-size: 1.8em;
  }

  .timer-numbers {
    font-size: 2rem;
  }

  .timeline {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .timeline__events {
    flex-direction: column;
  }

  .about .list__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item {
      max-width: 100%;
      margin-bottom: 2em;
    }
  }

  .slider {
    .slider__border {
      margin-right: 0%;
      margin-left: 0%;
    }
  }
}
