@font-face {
  font-family: 'Comfortaa';
  src: local("../fonts/Comfortaa/Comfortaa Regular"), local("Comfortaa-Regular"), url("../fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype"), url("../fonts/Comfortaa/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa/Comfortaa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Black Italic"), local("Raleway-BlackItalic"), url("../fonts/Raleway/Raleway-BlackItalic.ttf") format("truetype"), url("../fonts/Raleway/Raleway-BlackItalic.woff2") format("woff2"), url("../fonts/Raleway/Raleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Reey';
  src: local("Reey Regular"), local("Reey-Regular"), url("../fonts/Reey/Reey-Regular.otf") format("embedded-opentype"), url("../fonts/Reey/Reey-Regular.woff2") format("woff2"), url("../fonts/Reey/Reey-Regular.woff") format("woff"), url("../fonts/Reey/Reey-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  font-size: calc(0.5em + 1vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Comfortaa, serif;
  background-color: #191919;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.snowContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-pointer-events: none;
  pointer-events: none;
}

#snow {
  width: 100%;
  height: 100%;
  background-image: url("https://yraaa.ru/_pu/27/15825154.png"), url("https://yraaa.ru/_pu/27/89961317.png"), url("https://yraaa.ru/_pu/27/21791255.png");
  -webkit-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin: -50px 0 0 -50px;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.start__bg {
  background-image: url(../img/bg/bg-main.jpg);
  background-position: center;
  background-size: cover;
}

.start__top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 10%;
  padding: 10px;
  background-color: rgba(42, 35, 39, 0.95);
}

.start__top .container {
  height: 100%;
}

.top__layout {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.style-letter {
  -webkit-font-feature-settings: "ss01" 1;
          font-feature-settings: "ss01" 1;
}

.start__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info {
  text-align: center;
}

.info__heading {
  margin: 0;
  font-weight: 900;
  font-size: 6em;
  font-family: "Raleway", sans-serif;
  color: transparent;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff49bb), color-stop(15%, #fc4088), color-stop(51%, #f6290c), color-stop(71%, #f02f17), to(#e73827));
  background-image: linear-gradient(to bottom, #ff49bb 0%, #fc4088 15%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info__town {
  margin-top: -0.6em;
  font-size: 4em;
  line-height: 1;
  font-family: "Reey";
  color: #ffc80b;
}

.info__date {
  font-size: 1.5em;
  text-transform: uppercase;
}

.timer-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
}

.timer-numbers .time {
  font-size: 0.5em;
}

.timer-numbers .timer-wrapper {
  min-width: 50px;
}

.timer-numbers span {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
}

.social__list .social__item {
  margin-right: 15px;
}

.social__list .social__item:last-of-type {
  margin-right: 0;
}

.social__list .social__link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #e8e8e8;
  border-radius: 50px;
}

.social__list .social__link i {
  font-size: 24px;
  color: #191919;
}

.section__header .title {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}

.section__header .subtitle {
  text-align: center;
}

.about {
  padding-top: 1em;
  padding-right: 5%;
  padding-left: 5%;
}

.about .title {
  margin-bottom: 0.5em;
}

.about__bg {
  background: url("../img/bg/bg-section.jpg") center/cover no-repeat;
}

.list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list__items .item {
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__items .item_text {
  margin-top: 40px;
  text-align: center;
}

.list__items .item_img {
  max-width: 15em;
}

.events__bg {
  background: url("../img/bg/bg.jpg") center/cover no-repeat;
}

.events {
  padding-top: 1em;
  height: 100%;
}

.events .section__header {
  margin-bottom: 1em;
}

.deviver {
  width: 50px;
  margin: 10px;
  border: 3px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 25px 13px yellow;
          box-shadow: 1px 1px 25px 13px yellow;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.timeline .pepeClown {
  width: 10%;
  -webkit-transition: margin-left 2s;
  transition: margin-left 2s;
}

.timeline__events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.timeline__events .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 50px;
}

.number:hover,
.number:focus {
  border-color: currentColor;
  -webkit-box-shadow: 0 0 45px currentColor;
          box-shadow: 0 0 45px currentColor;
}

.number:nth-child(1):hover,
.number:nth-child(1):focus {
  color: red;
}

.number:nth-child(3):hover,
.number:nth-child(3):focus {
  color: green;
}

.number:nth-child(5):hover,
.number:nth-child(5):focus {
  color: blue;
}

.number:nth-child(7):hover,
.number:nth-child(7):focus {
  color: purple;
}

.number:nth-child(9):hover,
.number:nth-child(9):focus {
  color: yellow;
}

.timeline__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150%;
}

.card {
  line-height: 1.5;
  text-align: center;
  color: white;
}

.card .list-thing {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-bg {
  background: url(../img/twitch.jpg) center/cover no-repeat #191919;
  background-position: 0 70%;
}

.video_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gallery__bg {
  background: url("../img/bg/bg-gallery.jpg") center/cover no-repeat;
}

.gallery {
  height: 100%;
}

.gallery .container {
  height: 100%;
}

.slider {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slider__border {
  position: relative;
  width: 30em;
  margin-right: 10%;
  margin-left: 10%;
}

.slider .slider__photos {
  position: absolute;
  top: 8%;
  left: 10%;
  width: 89%;
}

.slider .slider__photos .section__header {
  margin-top: 30%;
}

.mySlides {
  display: none;
}

.arrow-right,
.arrow-left {
  cursor: pointer;
  width: 10%;
}

.arrow-right img,
.arrow-left img {
  display: block;
}

.footer__bg {
  background: url("../img/bg/bg-footer.jpg") center/cover no-repeat;
}

.video,
.video_layout {
  height: 100%;
}

.video_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video_layout iframe {
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 640px) {
  :root {
    font-size: calc(0.4em + 1vw);
  }
  .start__top,
  #pp-nav {
    display: none;
  }
  .header-layout .version-site {
    display: none;
  }
  .start__center {
    padding-top: 50px;
  }
  .info__date {
    font-size: 1.8em;
  }
  .timer-numbers {
    font-size: 2rem;
  }
  .timeline {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .timeline__events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .list__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .list__items .item {
    max-width: 100%;
    margin-bottom: 2em;
  }
  .slider .slider__border {
    margin-right: 0%;
    margin-left: 0%;
  }
}
